/* @import url(diagram-js.css);
@import url(colors.css);  */
@import url(codemirror-dracula.css);

:root {
    --dracula-background: #262936;
    --dracula-current-line: #44475a;
    --dracula-foreground: #f8f8f2;
    --dracula-comment: #6071a4;
    --dracula-cyan: #8be8fd;
    --dracula-green: #52fa7c;
    --dracula-orange: #ffb86b;
    --dracula-pink: #ff7ac6;
    --dracula-purple: #bf95f9;
    --dracula-red: #ff5757;
    --dracula-yellow: #f1fa89;

    --color-white: var(--dracula-background);
    --color-black: var(--dracula-foreground);
    --color-transparent: transparent;

    --color-grey-225-10-15: rgb(248, 248, 242);
    --color-grey-225-10-35: rgb(207, 205, 205);
    --color-grey-225-10-55: rgb(175, 172, 175);
    --color-grey-225-10-75: rgb(146, 143, 149);
    --color-grey-225-10-80: rgb(120, 117, 125);
    --color-grey-225-10-85: rgb(96, 94, 83);
    --color-grey-225-10-90: rgb(76, 74, 85);
    --color-grey-225-10-95: rgb(56, 57, 69);
    --color-grey-225-10-97: rgb(40, 42, 54);

    --overlay-border-color: var(--color-grey-225-10-85);
    --overlay-background-color: var(--color-white);
    --overlay-font-color: var(--color-grey-225-10-15);
    --overlay-title-color: var(--color-grey-225-10-15);
    --overlay-link-color: var(--color-blue-205-100-50);
    --overlay-max-height: auto;
    --overlay-max-width: auto;
    --overlay-min-height: auto;
    --overlay-min-width: auto;
}

.bio-properties-panel-group-header,
.form-group label {
    color: var(--dracula-pink);
}

body, .djs-direct-editing-content,.djs-direct-editing-parent{
    background-color: var(--dracula-background) !important;
    color: var(--dracula-foreground) !important;
}

input,
textarea,
select{
    color: var(--dracula-foreground) !important;
    background-color: var(--dracula-current-line);
}

.bio-properties-panel-input:focus, .bio-properties-panel-input:focus-within{
    background-color: var(--dracula-current-line);
    color: var(--dracula-foreground);
}

/* .djs-visual  rect,
.djs-visual circle,
.djs-visual path
{
    fill: var(--dracula-background) !important;
} */

/* .djs-visual > :nth-child(1){
    fill: var(--dracula-background) !important;
} */

/* .djs-visual > :nth-child(2) {
    fill: var(--color-grey-225-10-35) !important;
  } */

.djs-visual text,
marker path{
    fill: var(--color-grey-225-10-35) !important;
    
}

.btn--tab-action path,
.djs-visual path,
.djs-visual polyline,
/* .djs-visual rect,
.djs-visual circle, */
.djs-visual line,
.djs-connection-preview path,
.djs-connection-preview polyline,
.djs-connection-preview line,
marker path{
    stroke: var(--color-grey-225-10-35) !important;
}

.welcome-card{
    background-color: var(--dracula-current-line) !important;
    color: var(--dracula-foreground) !important;
}

.bio-properties-panel{
    --color-grey-225-10-15: rgb(248, 248, 242);
    --color-grey-225-10-35: rgb(207, 205, 205);
    --color-grey-225-10-55: rgb(175, 172, 175);
    --color-grey-225-10-75: rgb(146, 143, 149);
    --color-grey-225-10-80: rgb(120, 117, 125);
    --color-grey-225-10-85: rgb(96, 94, 83);
    --color-grey-225-10-90: rgb(76, 74, 85);
    --color-grey-225-10-95: rgb(56, 57, 69);
    --color-grey-225-10-97: rgb(40, 42, 54);

    --color-blue-205-100-35: hsl(205, 100%, 35%);
    --color-blue-205-100-45: hsl(205, 100%, 45%);
    --color-blue-205-100-50: hsl(205, 100%, 50%);
    --color-blue-205-100-95: hsl(205, 100%, 95%);

    --color-green-150-86-44: hsl(150, 86%, 44%);

    --color-red-360-100-40: hsl(360, 100%, 40%);
    --color-red-360-100-45: hsl(360, 100%, 45%);
    --color-red-360-100-92: hsl(360, 100%, 92%);
    --color-red-360-100-97: hsl(360, 100%, 97%);

    --color-white: var(--dracula-background);
    --color-black: var(--dracula-foreground);
    --color-transparent: transparent;

    --text-base-color: var(--dracula-foreground) !important;
    --text-error-color: var(--dracula-red);
    --link-color: var(--dracula-cyan);

    --description-color: hsla(var(--dracula-foreground), .1);
    --description-code-background-color: var(--color-grey-225-10-97);
    --description-code-border-color: var(--color-grey-225-10-85);
    --description-list-item-color: var(--color-grey-225-10-35);

    --placeholder-color: var(--color-grey-225-10-35);
    --placeholder-background-color: var(--color-grey-225-10-95);

    --header-background-color: var(--color-grey-225-10-95);
    --header-icon-fill-color: var(--color-grey-225-10-15);
    --header-bottom-border-color: var(--color-grey-225-10-75);

    --group-background-color: var(--color-white);
    --group-bottom-border-color: var(--color-grey-225-10-75);

    --sticky-group-background-color: var(--color-grey-225-10-95);
    --sticky-group-bottom-border-color: var(--color-grey-225-10-75);

    --add-entry-fill-color: var(--color-grey-225-10-35);
    --add-entry-hover-fill-color: var(--color-white);
    --add-entry-hover-background-color: var(--color-blue-205-100-50);
    --add-entry-label-color: var(--color-white);

    --remove-entry-fill-color: var(--color-red-360-100-45);
    --remove-entry-hover-background-color: var(--color-red-360-100-92);

    --arrow-fill-color: var(--color-grey-225-10-35);
    --arrow-hover-background-color: var(--color-grey-225-10-95);

    --dot-color: var(--color-grey-225-10-35);

    --list-badge-color: var(--color-white);
    --list-badge-background-color: var(--color-grey-225-10-35);

    --input-background-color: var(--dracula-current-line);
    --input-border-color: var(--color-grey-225-10-75);

    --input-focus-background-color: var(--color-blue-205-100-95);
    --input-focus-border-color: var(--color-blue-205-100-50);

    --input-error-background-color: var(--color-red-360-100-97);
    --input-error-border-color: var(--color-red-360-100-45);
    --input-error-focus-border-color: var(--color-red-360-100-45);

    --input-disabled-color: var(--color-grey-225-10-55);
    --input-disabled-background-color: var(--color-grey-225-10-97);
    --input-disabled-border-color: var(--color-grey-225-10-90);

    --toggle-switch-on-background-color: var(--color-blue-205-100-50);
    --toggle-switch-off-background-color: var(--color-grey-225-10-75);
    --toggle-switch-switcher-background-color: var(--color-white);

    --side-line-background-color: var(--color-grey-225-10-35);
    --side-line-extension-background-color: var(--color-grey-225-10-35);

    --list-entry-dot-background-color: var(--color-grey-225-10-35);
    --list-entry-header-button-fill-color: var(--color-grey-225-10-35);
    --list-entry-add-entry-empty-background-color: var(--color-blue-205-100-50);
    --list-entry-add-entry-empty-hover-background-color: var(--color-blue-205-100-45);
    --list-entry-add-entry-label-color: var(--color-white);
    --list-entry-add-entry-background-color: var(--color-blue-205-100-50);
    --list-entry-add-entry-fill-color: var(--color-white);

    --dropdown-item-background-color: var(--color-white);
    --dropdown-item-hover-background-color: var(--color-grey-225-10-95);
    --dropdown-separator-background-color: var(--color-grey-225-10-75);

    --feel-active-color: var(--color-blue-205-100-35);
    --feel-inactive-color: var(--color-grey-225-10-35);

    --feel-indicator-background-color: var(--color-grey-225-10-90);

}

.djs-container {

    --color-black-opacity-10: rgba(248, 248, 242, .1);

    --color-grey-225-10-15: rgb(248, 248, 242);
    --color-grey-225-10-35: rgb(207, 205, 205);
    --color-grey-225-10-55: rgb(175, 172, 175);
    --color-grey-225-10-75: rgb(146, 143, 149);
    --color-grey-225-10-80: rgb(120, 117, 125);
    --color-grey-225-10-85: rgb(96, 94, 83);
    --color-grey-225-10-90: rgb(76, 74, 85);
    --color-grey-225-10-95: rgb(56, 57, 69);
    --color-grey-225-10-97: rgb(40, 42, 54);

    --color-blue-205-100-35: hsl(205, 100%, 35%);
    --color-blue-205-100-45: hsl(205, 100%, 45%);
    --color-blue-205-100-50: hsl(205, 100%, 50%);
    --color-blue-205-100-95: hsl(205, 100%, 95%);

    --color-green-150-86-44: hsl(150, 86%, 44%);

    --color-red-360-100-40: hsl(360, 100%, 40%);
    --color-red-360-100-45: hsl(360, 100%, 45%);
    --color-red-360-100-92: hsl(360, 100%, 92%);
    --color-red-360-100-97: hsl(360, 100%, 97%);

    --color-white: var(--dracula-background);
    --color-black: var(--dracula-foreground);
    --color-transparent: transparent;    
}

.djs-container .djs-minimap{
    background-color: rgba(40, 42, 54,0.9);
}

.bio-properties-panel-description, .bio-properties-panel-description p, .bio-properties-panel-description span, .bio-properties-panel-description div{
    color: var(--dracula-purple);
}

